
/* Main */
body {
	background: #111 50% 0% no-repeat;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}

h1 {
	margin: 0
	height: 90px
	font-weight: bold;
	font-size: 1.8em;
	float: left;
	/*! letter-spacing: -0.05em; */
	position: relative;
	left: -20px;
}

h1 a {
	color: #222;
	display: block;
      -webkit-transition: .4s;
         -moz-transition: .4s;
           -o-transition: .4s;
              transition: .4s;
              padding: 0px 20px;
}

h1 a:hover {
	color: #fff;
	background: #222;
}


h2 {
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: -0.05em;
	text-shadow: 1px 1px #555;
	position: relative;
}

h2 a {
      -webkit-transition: .4s;
         -moz-transition: .4s;
           -o-transition: .4s;
              transition: .4s;
	color: #aaa;
}

h2 a:hover {
	color: #444;
}

h2 span {
	color: #aaa;
	font-weight: bold;
      -webkit-transition: .4s;
         -moz-transition: .4s;
           -o-transition: .4s;
              transition: .4s;
}

h2 a:hover span {
	color: #fff;
}

h3 {
	color: #fff;
	font-weight: bold;
	font-size: 1.8em;
	letter-spacing: -0.05em;
	text-shadow: 1px 1px #555;
}

h4 {
}

h5 {
}

header nav {
	display: none;
}

h2 {
	font-size: 3em;
}


header nav {
	float: right;
	display: block;
}
a { color: #82d2ff; text-decoration: none; }
a:hover { color: #e84b98; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }



header {
	position: fixed;
	width: 80%;
	top: 50px;
	left: 10%;
    transition: .4s
}

header:hover > .inner {
      -webkit-transform: translateZ( 0px ) rotateX(  -10deg );
         -moz-transform: translateZ( 0px ) rotateX(  -10deg );
           -o-transform: translateZ( 0px ) rotateX(  -10deg );
              transform: translateZ( 0px ) rotateX(  -10deg );
}

header:
.top {
	background-color: #fff;
}

header:hover .front {
	background-color: #f0f0f0;
}

header.topspin > .inner {
             transform: translateZ( 0px ) rotateX(  -90deg );
}

header.topspin .top {
	background-color: #fff;
}

header.topspin .front {
	background-color: #ccc;
}

header .top p {
	padding: 16px 0px;
	line-height: 150%;
	font-size: 18px;
}

header 
	cursor: pointer;
	z-index: 100;
	top: 20px;
	left: 0px;
	width: 90%;
    margin-left: 50%
	
    left: -45%;
	height: 90px;
      -webkit-perspective: 3000px;
         -moz-perspective: 3000px;
           -o-perspective: 3000px;
              perspective: 3000px;
              transition:  .4s;
}

header > .inner {
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: .4s;
         -moz-transition: .4s;
           -o-transition: .4s;
              transition:  .4s;
              height: 90px;
              position: relative;
}

header .front,
header .top {
	position: absolute;
	height: 90px;
	width: 100%;
	line-height: 90px;
	overflow: hidden;
      -webkit-transition: .4s;
         -moz-transition: .4s;
           -o-transition: .4s;
              transition:  .4s;
}

header.topspin > .inner {
      -webkit-transform: translateZ( 0px ) rotateX(  -90deg );
         -moz-transform: translateZ( 0px ) rotateX(  -90deg );
           -o-transform: translateZ( 0px ) rotateX(  -90deg );
              transform: translateZ( 0px ) rotateX(  -90deg );
}

header.topspin .top {
	background-color: #fff;
}

header.topspin .front {
	background-color: #ccc;
}


header .front > .inner,
header .top > .inner {
	padding: 0px 20px;
}

header .front {
	background-color: #fff;
      -webkit-transform: translateZ( 45px );
         -moz-transform: translateZ( 45px );
           -o-transform: translateZ( 45px );
              transform: translateZ( 45px );
}

header .top {
	background-color: #ccc;
      -webkit-transform: rotateX(   90deg ) translateZ( 45px );
         -moz-transform: rotateX(   90deg ) translateZ( 45px );
           -o-transform: rotateX(   90deg ) translateZ( 45px );
              transform: rotateX(   90deg ) translateZ( 45px );
}

header .top p {
	padding: 10px 0px;
	line-height: 150%;
	font-size: 13px;
}

header .top p a {
	color: #222;
	border-bottom: 2px solid #e84b98;
	padding: 2px;
	font-weight: bold;
      -webkit-transition: .4s;
         -moz-transition: .4s;
           -o-transition: .4s;
              transition:  .4s;
}

header .top p a:hover {
	border-bottom: 2px solid #fff;
	background: #e84b98;
	color: #fff;
}

header.fixedtop {
	width: 100%;
	top: 0px;
	left: 0px;
	margin-left: 0px;
}